.label{
    opacity: 0.8;
}

.kontaktform{
    max-width : 35rem;
    margin: auto;
    margin-top: 10rem;
    background: var(--secondary-color);
    padding: 8rem 4rem;
}

@media (max-width:576px) {
    .prijava{
        padding: 2rem 1rem;
        border-radius: 2.5rem;
    } 
}

 .buttlog{
    width: 8rem;
    background: var(--primary-accent-color);
    margin-top: 1rem;
 }
 .buttlog:hover{
    background: var(--secondary-accent-color);
 }