
.kontaktform{
    max-width : 35rem;
    margin: auto;
    margin-top: 6rem;
    background: var(--secondary-color);
    padding: 8rem 4rem;
}
.choiceThings{
    display: flex;
    justify-content: space-evenly;
}
.importance{
    display: flex;
}


@media (max-width:576px) {
    .kontaktform{
        padding: 2rem 1rem;
        border-radius: 2.5rem;
        margin-left: 3%;
        margin-right: 3%;
    } 
}

 .buttlog{
    width: 8rem;
    background: var(--primary-accent-color);
    margin-top: 1rem;
 }
 .buttlog:hover{
    background: var(--secondary-accent-color);
 }