:root {
  --primary-color: #3f828e;
  --secondary-color: #afdcdd;
  --primary-accent-color: #5caba3;
  --secondary-accent-color: #c3eded;
}

.primary-color {
  background-color: var(--primary-color) !important;
}

.secondary-color {
  background-color: var(--secondary-color) !important;
}

.primary-accent-color {
  background-color: var(--primary-accent-color) !important;
}

.secondary-accent-color {
  background-color: var(--secondary-accent-color) !important;
}

html,
body {
  background-color: var(--primary-color);
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

footer {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

footer p {
  font-size: 3rem;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  text-align: center;
}

.round-border {
  border-radius: 5rem;
}

nav {
  background-color: var(--secondary-accent-color);
  margin: 0.7rem;
}

.align-left {
  margin-left: auto;
}
#prijavaStatus {
  display: flex;
}

#prijavaStatus > p {
  margin-top: auto;
  margin-bottom: auto;
}

.container-fluid > button.navbar-toggler {
  border: none;
  box-shadow: none;
}

@media (max-width: 577px) {
  nav {
    text-align: center;
  }
  .logo {
    margin-left: 1.3rem;
  }
  .align-left {
    margin: auto 0 auto;
  }
  .container-fluid > button.navbar-toggler {
    margin-right: 1rem;
  }
  #prijavaStatus {
    flex-direction: column-reverse;
  }
}
