/* image shape thingy  */
.leftImg {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.middleImg {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.rightImg {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.sizing {
    height: 320px;
    width: 390px;
}

.novostList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13%;
    gap: 2rem;
}

.back-arrow {
    padding: 0 1rem;
    position: absolute;
    text-decoration: none;
    left: 0;
    color: var(--secondary-accent-color);
}

.novost h2 {
    margin-left: 2.5rem;
}

.novost p {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

/* img effect stuff */

.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middlel {
    left: 40%;
}

.middler {
    left: 60%;
    width: 50%;
}

.novostItem:hover .image {
    opacity: 0.3;
}

.novostItem:hover .middle {
    opacity: 1;
}

.hover-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: var(--secondary-accent-color);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 2rem;
}

/*individual novost thing*/
.novost {
    padding: 2rem;
    margin: auto;
    max-width: 1800px;
}

/* bonus */
.previewImg {
    margin-left: 2%;
    margin-right: 13%;
    margin-top: 12rem;
    scale: 0.3;
    border-radius: 2rem;
}


.videoPosition {
    margin-top: 2rem;
    display: flex;
    border-radius: 3rem;
}

/* bonus */
.videoPosition > video {
    margin: auto;
    border-radius: 1rem;
    width: 400px;
}

.novostiSlika {
    max-width: 100%;
    overflow-x: hidden;
    border-radius: 2rem;
}

@media (max-width: 1215px) {
    .novostList {
        flex-direction: column;
    }

    .novostItem {
        margin: auto;
    }

    .leftImg {
        clip-path: polygon(100% 25%, 100% 100%, 50% 75%, 0 100%, 0 25%, 50% 0);
    }

    .middleImg {
        clip-path: polygon(100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
    }

    .rightImg {
        clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%);
    }

    .sizing {
        height: 262px;
        width: 320px;
    }

    .middlel,
    .middler {
        left: 50%;
        width: 60%;
    }
}

/* galery stuff */
.galleryimg {
    width: 100%;
    border-radius: 2rem;
}

.row > .column {
    padding: 0 8px;
  }
  .row>img {
    width: 500px;
    border-radius: 2rem;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .galModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
        
}

  .galModal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    border-radius: 2rem;
  }
  
  .close {
    margin-top: 45px;
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    background: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
  /* galery stuff */