/* image shape thingy  */
.leftImg {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.middleImg {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.rightImg {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.sizing {
    height: 320px;
    width: 390px;
}

.novostList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13%;
    gap: 2rem;
}

.back-arrow {
    padding: 0 1rem;
    position: absolute;
    text-decoration: none;
    left: 0;
    color: var(--secondary-accent-color);
}

.novost h2 {
    margin-left: 2.5rem;
}

.novost p {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

/* img effect stuff */

.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middlel {
    left: 40%;
}

.middler {
    left: 60%;
    width: 50%;
}

.novostItem:hover .image {
    opacity: 0.3;
}

.novostItem:hover .middle {
    opacity: 1;
}

.hover-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: var(--secondary-accent-color);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 2rem;
}

/*individual novost thing*/
.novost {
    padding: 2rem;
    margin: auto;
    max-width: 1800px;
}

/* bonus */
.previewImg {
    margin-left: 2%;
    margin-right: 13%;
    margin-top: -12rem;
    scale: 0.3;
    border-radius: 2rem;
}

/* TODO vjv postoji puno bolji nacin nego negativni margin i fix center position*/
.videoPosition {
    margin-top: -12rem;
    display: flex;
    border-radius: 3rem;
}

/* bonus */
.videoPosition > video {
    margin: auto;
    border-radius: 1rem;
    width: 400px;
}

.novostiSlika {
    max-width: 100%;
    overflow-x: hidden;
    border-radius: 2rem;
}

@media (max-width: 1215px) {
    .novostList {
        flex-direction: column;
    }

    .novostItem {
        margin: auto;
    }

    .leftImg {
        clip-path: polygon(100% 25%, 100% 100%, 50% 75%, 0 100%, 0 25%, 50% 0);
    }

    .middleImg {
        clip-path: polygon(100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
    }

    .rightImg {
        clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%);
    }

    .sizing {
        height: 262px;
        width: 320px;
    }

    .middlel,
    .middler {
        left: 50%;
        width: 60%;
    }
}
